apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: myapp

resources:
  - ../base/namespace.yaml
  - ../base/backend-deployment.yaml
  - ../base/backend-service.yaml
  - ../base/db-statefulset.yaml
  - ../base/db-service.yaml
  - ../base/configmap.yaml
  - ../base/secret.yaml
  - ../base/ingress.yaml

# Patch pour les variables spécifiques à l'environnement production
patchesStrategicMerge:
  - patches/configmap-patch.yaml
