apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: todopro
spec:
  selector:
    app: backend
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
  type: NodePort