apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: todopro

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - db-statefulset.yaml
  - db-service.yaml

commonLabels:
  app: todopro